@model IList<UserAttributeModel>
@foreach (var attribute in Model)
{
    var controlId = $"customer_attribute_{attribute.Id}";
    var textPrompt = attribute.Name;

    <div class="inputs custom-attributes">
        <label>@textPrompt:</label>

        @if (attribute.IsRequired)
        {
            <nop-required />
        }
    </div>
}
